<!DOCTYPE html>
<html lang="en" ng-app="jira-client">
<head>
    <meta charset="UTF-8">
    <title>JIRA</title>

    <!-- WEBKIT TAGS -->
    <link rel="apple-touch-startup-image" href="{{__dirname}}/assets/appicon/icon144.png">
    <link rel="apple-touch-icon" href="{{__dirname}}/assets/appicon/icon144.png">
    <meta name="apple-mobile-web-app-title" content="JIRA">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- END OF WEBKIT TAGS -->

    <!-- PWA CHROME TAGS -->
    <link rel="manifest" href="/manifest.json">
    <!-- END OF PWA CHROME TAGS -->

    <!-- APPLICATION SOURCE FILES -->
    <link rel="stylesheet" href="{{__dirname}}/plugins/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{__dirname}}/main.css"/>
    <!-- END OF APPLICATION SOURCE FILES -->

    <!-- RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- END OF RESPONSIVE -->

    <!-- UI-Angular Router -->
    <base href="/">
    <!-- End of UI-Angular Router -->

</head>
<body>

<app-loader></app-loader>
<ui-view></ui-view>

<script type="text/javascript" src="{{__dirname}}/plugins/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{__dirname}}/bower_components/popper.js/dist/popper.js"></script>
<script type="text/javascript" src="{{__dirname}}/bower_components/interactjs/dist/interact.min.js"></script>
<script type="text/javascript" src="{{__dirname}}/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{__dirname}}/plugins/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>

<script src="{{__dirname}}/main.js" type="text/javascript"></script>

</body>
</html>