
@leftFrameWidth: 250px;

.margin-paddgin-zero {
	margin: 0;
	padding: 20px;
}

div#mobile-header {
	position: fixed;
	z-index: 10;
	display: none;
	height: 65px;
	width: 100%;
	background: #edeef0;
}

div.mobile-toggler {
	display: inline;
	float: right;
	height: 65px;
	width: 65px;
	padding-top: 18px;

	.button-toggler {
		margin: 0 auto;
		height: 30px;
		width: 30px;
		border-radius: 4px;
		background-color: black;
		color: white;
		text-align: center;
		vertical-align: center;
		padding-top: 2px;
	}
}

div#left-frame {
	.margin-paddgin-zero();
	float:left;
	display: inline-block;
	background: #edeef0;
	width: @leftFrameWidth;
	border-right: solid #edeef0 2px;
	height: 100vh;
}

div#left-frame-mobile-background {
	position: fixed;
	background-color: black;
	opacity: 0.0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
}

div#right-frame {
	.margin-paddgin-zero();
	float:left;
	display: inline-block;
	background: #f8f8f8;
	width: calc(~'100% - @{leftFrameWidth}');
	height: 100vh;
}