<div id="app-shell">
    <!-- TOP LEVEL ROUTES -->
    <div ui-view="app-modals">
    </div>
    <!-- END of TOP LEVEL ROUTES -->

    <!-- MOBILE HEADER -->
    <div id="mobile-header">
        <div class="mobile-toggler" ng-click="vm.toggleMobileHeader()">
            <div class="button-toggler">
                &#9776;
            </div>
        </div>
    </div>
    <!-- END of MOBILE HEADER -->

    <!-- LEFT NAV -->
    <div id="left-frame">
        <side-bar-component></side-bar-component>
    </div>

    <div id="left-frame-mobile-background" ng-click="vm.onMobileBackgroundClick()">
    </div>
    <!-- END of LEFT NAV -->

    <!-- MAIN CONTENT -->
    <div id="right-frame">
        <div ui-view></div>
    </div>
    <!-- END of MAIN CONTENT -->

</div>