
.margin-paddgin-zero {
	margin: 0;
	padding: 20px;
}

div#left-frame {
	.margin-paddgin-zero();
	float:left;
	display: inline-block;
	background: #00ffcc;
	width: 300px;
	height: 100vh;
}

div#right-frame {
	.margin-paddgin-zero();
	float:left;
	display: inline-block;
	background: #f8f8f8;
	width: calc(~'100% - 300px');
	height: 100vh;
}