board {

	.todos-section {
		height: 100vh;

		display: flex;
		flex-flow: row;
		align-items: flex-start;

		.todo-section {
			height: 100%;
			flex: 1;
			margin: 5px;
			background-color: #f0f1f3;
			min-width: 150px;
		}
	}

	.dash-container {
		display: flex;
		flex-flow: row;
		dash {
			width: 100%;
		}
		todo-detail{
			width: 1000px
		}
	}
}
