<div>
    <modal-add-todo on-add="vm.onAdd()"></modal-add-todo>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add
    </button>
    <!--<div class="dropdown">-->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Todos</a>
            <a class="dropdown-item" href="#">In progress</a>
            <a class="dropdown-item" href="#">In Review</a>
            <a class="dropdown-item" href="#">Done</a>
        </div>
    <!--</div>-->
    <div class="dash-container">
        <dash ng-if="vm.todos" todos="vm.todos"></dash>
        <todo-detail ng-if="vm.selectedTodo" todo="vm.selectedTodo"></todo-detail>
    </div>
</div>