<div>
    <modal-add-todo></modal-add-todo>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>
    <button class="btn-success" ng-click="vm.click()">Add</button>
    <div class="todos-section">
        <div class="todo-section dropzone">
            TO DO
            <todo-item ng-repeat="todo in vm.todos track by $index" todo="todo"></todo-item>
        </div>
        <div class="todo-section dropzone">
            IN PROGRESS
        </div>
        <div class="todo-section dropzone">
            IN REVIEW
        </div>
        <div class="todo-section dropzone">
            DONE
        </div>
    </div>
</div>