* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #EBF2F9;
}

.centered {
	margin: 0 auto;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}