
@media only screen and (max-width: 900px) {
	div#left-frame {
		width: 100px;
	}
	div#right-frame {
		width: calc(~'100% - 100px');
	}
}

@media only screen and (max-width: 500px) {
	div#left-frame {
		display: block;
		height: 65px;
		width: 100%;
	}
	div#right-frame {
		display: block;
		width: 100%;
	}
}