
div.app-loader {

	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #EBF2F9;

	.inner-spinner {
		position: relative;
		margin: 0 auto;
		width: 100vw;
		height: 100%;
	}

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;

		border: solid white 5px;
		border-radius: 100px;
		width: 100px;
		height: 100px;
		animation: spin 1s cubic-bezier(0.89, 0.01, 0.35, 1.43) infinite;
	}
	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			border-bottom: solid 5px;
		}
		100% {
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
			border-bottom: solid 5px;
		}
	}

}