<dash-drag drag-start="vm.dragStart()" drag-end="vm.dragEnd(todoId, sectionId)" clicked="vm.todoClicked(todoId, sectionId)">
    <div class="todos-section" ng-class="{'drag': vm.isDragging}">
        <div id="todo-section-0" class="todo-section dropzone">
            TO DO
            <div class="todo-list">
                <todo-item ng-repeat="todo in vm.inTodo() track by $index" todo="todo"></todo-item>
            </div>
        </div >
        <div id="todo-section-1" class="todo-section dropzone">
            IN PROGRESS
            <div class="todo-list">
                <todo-item ng-repeat="todo in vm.inProgress() track by $index" todo="todo"></todo-item>
            </div>
        </div >
        <div id="todo-section-2" class="todo-section dropzone">
            IN REVIEW
            <div class="todo-list">
                <todo-item ng-repeat="todo in vm.inReview() track by $index" todo="todo"></todo-item>
            </div>
        </div >
        <div id="todo-section-3" class="todo-section dropzone">
            DONE
            <div class="todo-list">
                <todo-item ng-repeat="todo in vm.inDone() track by $index" todo="todo"></todo-item>
            </div>
        </div>
    </div>
</dash-drag>