dash {
	.todo-list {

	}
}

dash-drag {
	.initial-dropzone {
		background-color: #f0f1f3 !important;
		border: solid 2px white !important;
	}
	.dropzone {
		background-color: #ccc;
		border: dashed 2px transparent;
		border-radius: 4px;
		margin: 10px auto 30px;
		padding: 5px;
		width: 80%;

		&.drop-active {
			&:not(.drop-target) {
				background-color: #EBF2F9;
				border: dashed 2px #0065AA;
			}
			&.drop-target {
				background-color: #F3F9F4;
				border: dashed 2px #007C00;
			}
		}

	}

	.drop-active {

		div.draggable:not(.dragging) {
			opacity: 0.1;
		}

	}
	.draggable {
		transition: opacity 0.3s ease;
	}

	div.dragging {
		opacity: 0.9;
		z-index: 1000;
		box-shadow: 0 2px 5px rgba(136, 136, 136, 0.51);
	}

	.drag-drop {
		display: inline-block;
		min-width: 40px;

		//color: #fff;
		//background-color: #29e;
		//border: solid 2px #fff;

		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);

		transition: background-color 0.3s;
	}

	.drag-drop.can-drop {
		//color: #000;
		//background-color: #4e4;
	}
}