notifications {
	position: absolute;
	z-index: 1000;
	right: 10px;
	margin-top: 10px;

	@keyframes notificationAppear {
		0% {
			right: -15px;
			opacity: 0;
		}
		100% {
			right: 0;
			opacity: 1;
		}
	}

	@keyframes notificationDisappear {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}

	div.alert {
		position: relative;
		right: 0;
		box-shadow: 0 5px 15px rgba(0,0,0,0.2);
		min-width: 200px;
		margin: 8px;
		transition: transform 0.15s ease-in, opacity 0.3s ease-in, right 0.3s ease-in;
		animation-name: notificationAppear;
		animation-duration: 0.3s;

		&:hover {
			transform: scaleX(1.05) scaleY(1.05);
		}

		&.notification-dismiss {
			opacity: 0;
		}
	}



}