login-component {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #f8f8f8;

	div#login {
		position: relative;
		width: 100vw;
		height: 100vh;

		login-background-component {
			width: 100vw;
			height: 100vh;
			position: absolute;
			//-webkit-transform: rotate(45deg); /* Safari */

			overflow: hidden;


			.login-background {
				position: relative;
				left: 20%;
				transform: rotate(45deg) scale(3.0);
				width: 750px;
				height: 1000px;
			}
			.box {
				display: block;
				float: left;
				padding: 0 !important;
				margin: 0 !important;
				width: 50px;
				height: 50px;
				background-color: #EBF2F9;
				border: solid #d5d5d5 1px;
				//transition: all 100s;
				//transform: rotateY(10deg);
				&.box-fade {
					animation-name: box-anim;
					animation-duration: 10s;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
			@keyframes box-anim {
				0% {
					transform: rotate3d(0, 0, 0);
					background-color: #EBF2F9;
				}
				100% {
					transform: rotate3d(0.5, 0.5, 0, 180deg);
					background-color: #0065AA;
				}
			}
		}
		.login-content {
			width: 500px;
			position: absolute;
			top: 35%;
			left: 50%;
			height: 200px;
			margin: -100px 0 0 -250px;

			.login-header-image {
				position: relative;
				margin: 0 auto 10px;
				border-radius: 50%;
				width: 175px;
				height: 175px;

				img {
					margin-top: 65px;
					padding: 0 10px;
					width: 175px;
				}
			}
		}
		form {
			display: block;

			input {
				position: relative;
				display: block;
				width: 100%;
				height: 40px;
				border-radius: 10px;
				border: solid black 1px;
				margin-bottom: 5px;
				padding-left: 15px;
				padding-right: 15px;
				outline: none;
			}
			button {
				position: relative;
			}
		}
		.login-anim {
			opacity: 0;
			animation-name: login-form-appear;
			animation-delay: 1s;
			animation-duration: 0.75s;
			animation-fill-mode: forwards;
		}
		.login-input {
			&-1 {
				.login-anim();
				animation-delay: 1s;
			}
			&-2 {
				.login-anim();
				animation-delay: 1.1s;
			}
			&-3 {
				.login-anim();
				animation-delay: 1.2s;
			}
			&-4 {
				.login-anim();
				animation-delay: 1.3s;
			}
		}
		@keyframes login-form-appear {
			0% {
				top: 25px;
				opacity: 0;
			}
			100% {
				top: 0;
				opacity: 1;
			}
		}
		button {
			display: block;
			margin-top: 15px;
			height: 40px;
			width: 100%;
			background-color: #FFAB00;
			color: white;
			text-align: center;
			border-radius: 10px;
			font-weight: 500;
			font-size: 20px
		}
	}
}